#Node module
node_modules/

#Enviroment variables
.env

#logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

#OS files
.DS_Store
Thumbs.db

#Debug
.vsCode/
.idea/

# Builds outputs
dist/
build/

#TypeScript
*.tsbuildinfo